{% extends 'base.html.twig' %}

{% block body %}

<div id="content">
  <div class="container-fluid">
    <div class="row-fluid">
          <div class="widget-content block_404">
            <div class="error_ex">
              <h1>404</h1>
              <h3>Vous êtes perdu ?</h3>
              <p>La page recherchée est introuvable...</p>
              <a class="btn btn-warning btn-big"  href="/">Retour à l'accueil</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}


