{% extends 'base.html.twig' %}

{% block body %}

    <div id="content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="widget-content block_404">
                    <div class="error_ex">
                        <h3>Merci pour ton vote</h3>
                        <p>Alors comme ça tu votes ? Suceur de francs-maçons</p>
                        <a class="btn btn-warning btn-big"  href="/">Retour à l'accueil</a> </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


